


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-danger tk-good-times" target="_blank" href="https://tonbrains.com">
            <img src="https://tonbrains.com/img/tonbrains2.png" alt="" width="17" class="d-inline-block align-text-top" style="margin-right:3px">
            TON BRAINS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">

                @*<NavLink class="nav-link tk-good-times" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
                <NavLink class="nav-link tk-good-times" href="counter">
                    Counter
                </NavLink>*@

            </div>
            <span class="navbar-text tk-good-time" style="font-size: 14px;">
                TELEGRAM OPEN NETWORK LAUNCH APP
            </span>
        </div>
    </div>
</nav>

